@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Ultra.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-XLight.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 900;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-UltraItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-BookItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 200;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-XLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  font-style: italic;
  font-weight: 100;
  src: local("Gotham"),
    url("../../typeface/gotham/Gotham-ThinItalic.ttf") format("truetype");
}
.gotham {
  font-family: "Gotham", Arial, Helvetica, sans-serif !important;
}
